<app-header></app-header>
<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-option spad set-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Pantalla de Ayuda</h2>
                    <div class="breadcrumb__links">
                        <a [routerLink]="['/']">Ayuda</a>
                        <span>Ayuda</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <h2>PREGUNTAS FRECUENTES</h2>
            <hr>
            <h3>¿Cómo comprar?</h3>
            <p>Para adquirir algunos o algunos de nuestros productos, es necesario que usted se cree una cuenta de usuario o si ya lo tiene, ingresar a su cuenta.</p>
            <h3>¿Qué debo hacer si mi pedido no llega?</h3>
            <p>Normalmente los pedidos por delivey tienen un tiempo de atencion o limite de 48 horas, por lo que si excede este tiempo, usted puede llamarnos para ver el estado de su pedido y priorizar la pronta entrega o en caso contrario solicitar la devoluación del dinero</p>
            <h3>No puedo entrar o ingresar a mi cuenta</h3>
            <p>Si despues de varios intentos no ingresa a su cuenta y no puede recuperar su contraseña por envio de mensaje, puede comunicarse por nuestros numeros de telefono para ayudarlo</p>
            <h3>No encuentro el juego que vi hace unos dias u horas</h3>
            <p>Posiblemente no contemos con stock y se encuentre agotado por lo que maximo en 2 semanas volverá nuevamente a tener stock</p>
            <h3>Realice una compra y noaparece mi pedido</h3>
            <p>El sistema normalmente no puede descontar de su cuenta algun salgo al no completarse una compra, por ello podria verificar su saldo, si en caso se ve el descuento solicite por nuestro correo el ajuste o validacion de la compra</p>
        </div>
    </div>
</div>
            



<app-footer></app-footer>