    <!-- Footer Section Begin -->
    <footer class="footer set-bg">
        <div class="container">
            <div class="footer__top">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="footer__top__item">
                            <div class="footer__top__item__text">
                                <img src="../../../assets/img/icon/ft-1.png" alt="">
                                <p>Juegos de consola</p>
                                <h3>Compra</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="footer__top__item">
                            <div class="footer__top__item__text">
                                <img src="../../../assets/img/icon/ft-2.png" alt="">
                                <p>Contactenos ahora</p>
                                <h3>(+51) 372-7421</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="footer__top__item last__item">
                            <div class="footer__top__item__text">
                                <img src="../../../assets/img/icon/ft-3.png" alt="">
                                <p>Localización</p>
                                <h3>Ubicanos en el mapa</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__text">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer__about">
                            <div class="footer__logo">
                                <img src="img/footer-logo.png" alt="">
                            </div>
                            <p>La diversión es importante en la vida y una opción genial son disfrutar de vidiojuegos en ratos libres para pasarla bien</p>
                            <a href="#" class="primary-btn">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                Contactenos
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 offset-lg-1 col-md-5 offset-md-1 col-sm-6">
                        <div class="footer__widget">
                            <h5>Quick Link</h5>
                            <ul>
                                <li><a href="#">Compra <span class="arrow_right"></span></a></li>
                                <li><a href="#">Pago <span class="arrow_right"></span></a></li>
                                <li><a href="#">Envio <span class="arrow_right"></span></a></li>
                                <li><a href="#">Devolución <span class="arrow_right"></span></a></li>
                                <li><a href="#">Detalles <span class="arrow_right"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer__news">
                            <h5>News</h5>
                            <a href="#" class="footer__news__item">
                                Free Philippine Real Estate Ads...
                                <span>November 11, 2020</span>
                            </a>
                            <a href="#" class="footer__news__item">
                                Free Philippine Real Estate Ads...
                                <span>November 11, 2020</span>
                            </a>
                            <a href="#" class="footer__news__item">
                                Free Philippine Real Estate Ads...
                                <span>November 11, 2020</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer__address">
                            <h5>Nuestra tienda</h5>
                            <p>Dirección: Av. proceres de la independencia N° 145 - S.J.L.</p>
                            <ul>
                                <li>Fax: (+123) 4567-7890-123</li>
                                <li>Mobile: (+51) 372-7421</li>
                                <li>Email: jobran.hds@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->