

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <ul class="header__top__left">
                        <li><i class="fa fa-mobile" aria-hidden="true"></i> (+51) 975-875-125</li>
                        <li><i class="fa fa-clock-o" aria-hidden="true"></i> Lun-Sáb: 10:00 - 16:00 / Dom Cerrado</li>
                    </ul>
                </div>
                <div class="col-lg-5">
                    <div class="header__top__right">
                        <a *ngIf="!logeado" [routerLink]="['/registro']" class="map-btn">Registrarse</a>
                        <a *ngIf="!logeado" [routerLink]="['/login']" href="#" class="map-btn">Ingresar</a>
                        <a  *ngIf="logeado"  class="map-btn">
                            <i class="fa fa-user" style="margin-right:5px;"></i>
                            {{username}}
                        </a>
                        <a *ngIf="logeado" href="" class="map-btn" (click)="salir()">Salir</a>
                        <div class="header__right__social">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="./index.html"><img src="img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-7">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a [routerLink]="['/']">Inicio</a></li>
                        <li><a href="#">Tienda</a>
                            <ul class="dropdown">
                                <li><a href="#">Nosotros</a></li>
                                <li><a href="#">Servicios</a></li>
                                <li><a href="#">Detalles</a></li>
                                <li><a href="#">Contactenos</a></li>
                            </ul>
                        </li>
                        <li><a [routerLink]="['/juegos']">Juegos</a>
                            <ul class="dropdown">
                                <li><a href="#">Play Station</a></li>
                                <li><a href="#">Xbox</a></li>
                                <li><a href="#">Nintento</a></li>
                                <li><a href="#">Otros</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Populares</a></li>
                        <li><a href="#">Ayuda</a></li>
                        <li *ngIf="logeado"><a [routerLink]="['/perfil']">Perfil</a></li>
                        <li><a [routerLink]="['/carro']" routerLinkActive="active">Carro</a>
                            <ul class="dropdown">
                                    <li *ngFor="let juego of juegos;let i=index">    
                                        <div class="text pl-3" *ngIf="i<2">
                                            <a [routerLink]="['/juego',juego.id_juego + '-' + juego.almacen.console]"> <img src="{{juego.almacen.picture}}" alt="img" width="30px"></a>
                                            <a>{{ juego.nombre }}</a>
                                        </div>
                                    </li>
                                    <a class="dropdown-item text-center btn-link d-block w-100" routerLink="/carro" routerLinkActive="active">
                                        Ver todos
                                        <span class="ion-ios-arrow-round-forward"></span>
                                    </a>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-2">
                <ul class="header__right">
                    <li><a href="#" class="search-switch"><span class="icon_search"></span></a></li>
                    <li><a href="#"><span class="icon_cart_alt"></span></a></li>
                </ul>
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->