<app-header></app-header>
<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-option spad set-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Nuestros Servicios</h2>
                    <div class="breadcrumb__links">
                        <a [routerLink]="['/']">Inicio</a>
                        <span>Servicios</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->

<!-- Services Section Begin -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 p-0 order-lg-1 col-md-6 order-md-1">
                <div class="services__text">
                    <img src="../../../assets/img/icon/si-1.png" alt="">
                    <h4>Juegos populares</h4>
                    <p>Adquiera los juegos mas populares para su consola</p>
                </div>
            </div>
            <div class="col-lg-3 p-0 order-lg-2 col-md-6 order-md-2">
                <div class="services__pic">
                    <img src="../../../assets/img/services/services-1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3 p-0 order-lg-3 col-md-6 order-md-4">
                <div class="services__text">
                    <img src="../../../assets/img/icon/si-2.png" alt="">
                    <h4>Calidad asegurada</h4>
                    <p>Nuestros productos son originales avalados por la empresa</p>
                </div>
            </div>
            <div class="col-lg-3 p-0 order-lg-4 col-md-6 order-md-3">
                <div class="services__pic">
                    <img src="../../../assets/img/services/services-2.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3 p-0 order-lg-6 col-md-6 order-md-5">
                <div class="services__text">
                    <img src="../../../assets/img/icon/si-3.png" alt="">
                    <h4>Asistencia online</h4>
                    <p>Puede contactarnos por los medios de comunicación para ayudarlo</p>
                </div>
            </div>
            <div class="col-lg-3 p-0 order-lg-5 col-md-6 order-md-6">
                <div class="services__pic">
                    <img src="../../../assets/img/services/services-3.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-3 p-0 order-lg-8 col-md-6 order-md-8">
                <div class="services__text">
                    <img src="../../../assets/img/icon/si-4.png" alt="">
                    <h4>Entrega rápida</h4>
                    <p>Despues de la compra por web se enviará por delivery lo mas pronto posible</p>
                </div>
            </div>
            <div class="col-lg-3 p-0 order-lg-7 col-md-6 order-md-7">
                <div class="services__pic">
                    <img src="../../../assets/img/services/services-4.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->


<app-footer></app-footer>
