<app-header></app-header>

<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-option spad set-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Nuestros Servicios</h2>
                    <div class="breadcrumb__links">
                        <a [routerLink]="['/']">Inicio</a>
                        <span>Nosotros</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->


<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center section-title">
                <h2>JOBRA</h2>
                <h4>Somos una empresa dedicada a la comercialización de videojuegos para el entretenimiento de forma Online para las consolas de Play Station 4, Play Station 3, Nintento Switch, Exbox 360 y Xbox One, de libre accesibilidad a cualquier persona.</h4>
            </div>
        </div>
    </div>
</section>

 <!-- Chooseus Section Begin -->
 <section class="chooseus">
    <div class="container-fluid">
        <div class="row">
            <div class="chooseus__pic set-bg"></div>
            <div class="col-lg-7 offset-lg-5 p-0">
                <div class="chooseus__text">
                    <div class="section-title">
                        <h2>Tenemos 10 años<br /> de expreciencia videojuegos</h2>
                        <p>Sabemos cuales son los juegos mas demandados para su consola</p>
                    </div>
                    <ul>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Juegos populares disponibles.</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Envios a domicilio seguros y puntuales.</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Seguridad en cada compra online que realices.</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Calidad y originalidad en los juegos ofrecidos al publico</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Chooseus Section End -->

<!-- Breadcrumb Section End -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>VISIÓN</h2>
                <h5>Ser la plataforma retail de la industria del entretenimiento electrónico, coleccionables y afines a la cultura pop en el Perú, buscando generar valor en la experiencia de compra de nuestros clientes.</h5>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <h2>MISIÓN</h2>
                <h5>Convertirnos en la marca líder en la industria del entretenimiento electrónico, coleccionables y afines a la cultura pop, llevando experiencias y servicio diferenciado al hogar de nuestros clientes.</h5>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>