
<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-option spad set-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Nuestros productos</h2>
                    <div class="breadcrumb__links">
                        <a [routerLink]="['/']">Inicio</a>
                        <span>Juegos</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->

 <!-- Shop Section Begin -->
 <section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 order-lg-2">
                <div class="product__widget">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <p>Showing 1 - 9 of 32 Products</p>
                        </div>
                        <div class="col-lg-8 col-md-8 text-right">
                            <div class="select__item">
                                <p>Showing Items</p>
                                <select>
                                    <option value="">12</option>
                                </select>
                            </div>
                            <div class="select__item">
                                <p>Sort By</p>
                                <select>
                                    <option value="">Best Seller</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-6" *ngFor="let item of juegos; let i = index">
                        <div class="product__item">
                            <div class="product__item__pic">
                                <img src={{item.consoles[0].picture}} alt="">
                                <ul class="hover__item">
                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    <li><a [routerLink]="['/juego',item.id + '-' + item.consoles[0].console]"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="#"><i class="fa fa-exchange"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">{{item.name}}</a></h6>
                                <div class="price">
                                    <span>S/. {{item.consoles[0].price}}</span>
                                    <a href="#">+Agregar al carrito</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>
                <div class="shop__pagination">
                    <div class="d-inline" *ngFor="let item of [1,2,3]; let i = index">
                        <a (click)="getSec(i)">{{i+1}}</a>
                    </div>
                    <a (click)="getSec(-1)"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-lg-3 order-lg-1">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__item">
                        <h4>Categories</h4>
                        <ul>
                            <li><a href="#">Disparo </a></li>
                            <li><a href="#">Deporte </a></li>
                            <li><a href="#">Carreras </a></li>
                            <li><a href="#">Aventura </a></li>
                            <li><a href="#">Acción </a></li>
                        </ul>
                    </div>
                    <div class="shop__sidebar__item">
                        <h4>Price</h4>
                        <ul>
                            <li>$0 - $80.00</li>
                            <li>$80.00 - $160.00</li>
                            <li>$160.00 - $320.00</li>
                            <li>$320.00 - $520.00</li>
                            <li>Over $520.00</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->